.container {
  position: relative;
  z-index: 2;
}

.baseCanvas,
.maskCanvas {
  display: block;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.maskCanvas {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
